.AppSectionContainer{
    @apply mt-40 bg-[#5BB5A2] rounded-3xl h-[30em] px-16 flex flex-row
    lg:w-[90%]
    xl:w-[70%]
    2xl:w-[60%]}
.AppSectionLeft{
    @apply flex flex-col justify-center w-[60%] py-12 items-center
    2xl:w-[65%]
}
.AppSectionTittle{
    @apply text-5xl font-semibold text-white
}
.AppSectionDescript{
    @apply text-base font-medium text-white mt-5 w-[80%]
    lg:text-base lg:w-[90%]
    2xl:text-base 2xl:w-[80%]
}
.CheckSection{
 @apply flex flex-col flex-wrap mt-10 justify-between h-[4em] flex-wrap w-[100%]
}
.AppIconSect{
    @apply w-[10em] h-[3em]
}
.LinkSection{
    @apply mt-10 flex flex-row pb-10 w-full
}
.AppSectionRight{
    @apply flex flex-col justify-end items-center w-[40%] h-[100%]
    2xl:w-[35%]
}
.MobileApp{
    @apply w-[20em] h-[90%]
}