.CardSectionContainer{
    @apply flex flex-col mt-10 w-[85%] justify-center items-center
    lg:flex lg:flex-col lg:mt-40 lg:w-[60%] lg:justify-center lg:items-center
}
.CardSectionTittle{
    @apply text-6xl font-semibold text-center
    lg:text-7xl lg:font-semibold lg:text-center
}
.CardSectionDescript{
    @apply text-base font-semibold text-center mt-5
    lg:text-lg lg:font-semibold lg:text-center lg:mt-10
}
.CardSectionCards{
    @apply flex flex-col mt-16 justify-center items-center relative
    lg:w-[60%]
    xl:w-[45%];
}
.CardGreenSect{
    @apply  z-0 ;
}
.CardGraySect{
    @apply  z-10 absolute ;

}
.CardGoldSect{
    @apply  z-20 ;
}
.BtnSection{
    @apply flex flex-row mt-8 justify-center items-center space-x-5;
}