.NotificationsContainer{
    @apply w-full bg-[#fff] rounded-[10px] flex flex-col mt-20 flex-wrap
    lg:w-[80%] lg:bg-[#fff] lg:rounded-[10px] lg:flex lg:flex-row lg:mt-40 lg:flex-wrap
}
.NotifiLeft{
    @apply flex flex-col w-full ml-0
    lg:flex lg:flex-col lg:w-[50%] lg:ml-0
}
.NotifiRight{
    @apply flex flex-col w-full items-center mt-10
    lg:flex lg:flex-col lg:w-[50%] lg:items-center lg:mt-0
}
.NotifiTittle{
    @apply text-6xl font-semibold text-center
    lg:w-[100%] lg:text-6xl lg:text-start
    xl:w-[20%] xl:text-7xl
}
.NotifiDescription{
    @apply text-lg font-semibold w-[100%] mt-5 text-center
    lg:w-[90%] lg:text-base lg:mt-10 lg:text-start
    xl:w-[70%] xl:text-lg
}
.UlNotifi{
    @apply flex flex-col w-[100%] mt-4 justify-center space-y-2
    lg:flex lg:flex-col lg:w-[100%] lg:mt-10 justify-center lg:space-y-4
}
.NotifiCardContainer{
    @apply flex flex-col w-[80%]
    lg:flex lg:flex-col lg:w-[50%]
}
.NotifiCard{
    @apply flex flex-row items-center mt-8
    lg:flex lg:flex-row lg:items-center lg:mt-8
}
.TextCardSec{
    @apply flex flex-col w-[100%] ml-4
    lg:flex lg:flex-col lg:w-[100%] lg:ml-4
}
.NotifiCardTittle{
    @apply text-base font-semibold
    lg:text-base lg:font-semibold
}
.NotifiCardDescription{
    @apply text-sm  text-gray-500
    lg:text-sm  lg:text-gray-500
}