.OrganizeContainer{
    @apply flex flex-col justify-start mt-10 w-full ml-0
    lg:flex lg:flex-col lg:justify-start lg:mt-40 lg:w-[80%] lg:ml-10;
}
.OrganizeTittle{
    @apply text-6xl font-semibold w-[100%] ml-0 mt-4 text-center
    lg:text-6xl lg:font-semibold lg:w-[70%] lg:ml-10 lg:mt-10 lg:text-left
    xl:text-7xl xl:font-semibold xl:w-[65%] xl:ml-10 xl:mt-10;
}
.OrganizeDescript{
    @apply text-base font-semibold w-[100%] ml-0 mt-5 text-center
    lg:text-base lg:font-semibold lg:w-[60%] lg:ml-10 lg:mt-5 lg:text-left
    xl:text-base xl:font-semibold xl:w-[40%] xl:ml-10 xl:mt-5;
}
.SecondTittle{
    @apply text-lg font-semibold ml-2 mt-10 mr-0
    lg:text-lg lg:font-semibold lg:ml-10 lg:mt-10 lg:mr-10;
}
.OrganizeCardContainer{
    @apply flex flex-col justify-center w-[90%] items-center mt-10 ml-0
    lg:flex lg:flex-row lg:justify-center lg:mt-10 lg:ml-10
    xl:flex xl:flex-row xl:justify-center xl:mt-10 xl:ml-10
}
.OrganizeCard{
    @apply flex flex-col w-[16em] h-[16em] ml-10
    lg:flex lg:flex-col lg:w-[16em] lg:h-[16em] lg:ml-10
    xl:flex xl:flex-col xl:w-[15em] xl:h-[20em] xl:ml-10 ;
}
.OrganizeDivImg{
    @apply flex justify-center rounded-2xl h-[15em] items-center
    flex justify-center rounded-2xl h-[15em] items-center
}

.OrganizeCardInfs{
    @apply flex flex-col mt-4
    xl:flex xl:flex-col xl:mt-4
}
.OrganizeCardTittle{
    @apply text-lg font-semibold
    xl:text-lg xl:font-semibold;
}
.OrganizeCardPrice{
    @apply text-base font-semibold text-gray-500
    xl:text-base xl:font-semibold xl:text-gray-500;
}