.HeaderContainer{
    @apply
    lg:flex lg:flex-row lg:w-full ;
}
.HeaderMainNav{
    @apply hidden
    lg:flex lg:flex-row lg:justify-between lg:py-5 lg:px-36 lg:w-full
}
.HeaderBanquee{
    @apply text-xl font-bold text-[#5BB5A2]
    lg:text-3xl lg:font-bold
}
.UlHeader{
    @apply
    lg:flex lg:flex-row lg:space-x-7;
}
.LiHeader{
    @apply lg:text-base lg:font-medium lg:text-black lg:cursor-pointer;
}

.DivBtn{
    @apply lg:flex lg:flex-row lg:space-x-4 ;
}
.HeaderMobileNav{
    @apply flex flex-row w-full bg-gray-200 justify-center px-10 py-5 rounded-t-2xl
    fixed bottom-0 z-50 right-0 left-0
    lg:hidden
}
.HeaderMobileNavBtn{
    @apply flex flex-col items-center justify-between px-5
}
.HeaderMobileNavBtnIcon{
    @apply text-xl
}
.NavBtnText{
    @apply text-base font-medium text-black
}